[user]
	name = Min ho Kim
	email = minho42@gmail.com
[core]
	pager = less -IXF
	excludesfile = /Users/minho/.gitignore_global

[http]
	postBuffer = 524288000

[alias]
	undo = git reset --soft HEAD~1

